@use "mixin"as m;
@use "variable"as v;

body {
    background-color: v.$base-color;
    font-family: v.$main-fontfamily;
}

main {
    width: 100%;
    margin: 0 auto;
}

section {
    width: 100%;
    height: auto;
    padding-top: 96px;
    @include m.sp {
        padding-top: 48px;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: v.$sub-color;
    transition: all 0.6s ease;

}

.btn {
    padding: 8px 72px;
    border: 1px solid v.$sub-color;
    background-color: v.$base-color;
    color: v.$font-color;
    transition: all 0.6s ease;
}

.btn:hover {
    background-color: v.$sub-color;
    color:  v.$base-color;
}

p {
    margin-bottom: 32px;
    letter-spacing: 0.3em;
    text-indent: 0.3em;
    line-height: 2.0;
    @include m.sp {
        margin-bottom: 24px;
        font-size: 12px;
    }
}

.section-title {
    position: relative;
    width: 100%;
    margin-bottom: 96px;
    font-size: 64px;
    font-family: v.$sub-fontfamily;
    font-weight: normal;
    text-align: center;
    letter-spacing: 0.2em;
    text-indent: 0.2em;
    color: v.$sub-color;
    @include m.sp {
        font-size: 32px;
    }
}
.section-title::after {
    content: "";
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    width: 160px;
    height: 2px;
    margin: 0 auto;
    background-color: v.$sub-color;
    @include m.sp {
        top: 48px;
        width: 80px;
    }
}

.title {
    padding: 40px;
    padding-top: 100px;
    font-family: v.$sub-fontfamily;
    font-size: 120px;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-indent: 0.1em;
    text-align: left;
    color: v.$sub-color;
    @include m.sp {
        padding: 20px;
        font-size: 40px;
    }
}

.fadein {
    width: 100%;
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(40px);
}
