@use "mixin" as m;
@use "variable" as v;

.news {
  padding-bottom: 360px;
  background-color: v.$main-color;
  text-align: center;
  color: v.$font-color;
  .tab-container {
    width: 85%;
    margin: 0 auto;
    // カテゴリータブ
    .news-filter {
      display:flex;
      margin-bottom:40px;
      padding: 0 8px;
      gap:20px;
      li {
        list-style:none;
        a {
          padding:6px 14px;
          @include m.sp {
            font-size: 12px;
          }
        }
        a:hover {
          background:v.$sub-color;
          color:v.$base-color;
        }
      }
      .active {
        a {
          border-color: v.$sub-color;
          background: v.$sub-color;
          color: v.$base-color;
        }
      }
      @include m.sp {
        margin-bottom: 32px;
        gap: 8px;
      }
    }  

    .tab-content {
      display: none;
      min-height: 150px;
      line-height: 1.6;
      ul {
        width: 100%;
        margin: 0 auto;
        padding: 0 8px;
        .article {
          margin: 50px;
          padding: 32px 64px;
          border-radius: 50px;
          background-color: v.$base-color;
          text-align: left;
          a {
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            img {
              width: 220px;
              height: 140px;
              object-fit: cover;
              border-radius: 10px;
              transition: transform 0.6s ease;
              @include m.sp {
                width: 85%;
                height: 110px;
                margin: 0 auto;
              }
            }
            .inner {
              width: 80%;
              padding: 24px;
              p {
                margin-bottom: 0px;
                font-size: 12px;
                letter-spacing: 0.1em;
                text-indent: 0.1em;
                color: v.$font-color;
                span {
                  margin-right: 10px;                        
                  padding: 5px 10px;
                  border-radius: 50px;
                  background-color: v.$sub-color;
                  font-size: 12px;
                  letter-spacing: 0.1em;
                  color: v.$base-color;
                  @include m.sp {
                    font-size: 8px;
                  }
                }
              }
              .article-title {
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 0.1em;
                text-indent: 0.1em;
                @include m.sp {
                  font-size: 14px;
                }
              }
              @include m.sp {
                width: 90%;
                margin: 0 auto;
                padding: 0;
                padding-top: 16px;
              }
            }
            @include m.sp {
              flex-direction: column;
            }
          }
          a:hover {
            opacity: 0.6;
            img {
              transform: scale(1.1);
            }
          }
          @include m.sp {
            width: 100%;
            max-width: 500px;
            margin: 0 auto 16px;
            padding: 16px 8px;
          }
        }
      }
      .page {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        li {
          padding: 0 20px;
          font-size: 20px;
          a:hover {
            color: v.$font-color;
          }
        }
      }
      .tab2-page,
      .tab3-page,
      .tab4-page {
        .page2,
        .page3 {
          display: none;
        }
      }
    }
    .tab-content.selected {
      display: block;
      animation: fadeIn 0.3s ease;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(10px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @include m.sp {
      width: 100%;
    }
  }
  @include m.sp {
    padding-bottom: 130px;
  }
}

//ページネーション 
.pagination{
  margin-top:40px;
  text-align:center;
}

.pagination a:hover{
  background:v.$sub-color;
  color:v.$base-color;
}

.page-numbers{
  display:inline-block;
  margin:0 5px;
  padding:8px 12px;
}

.current{
  background:v.$sub-color;
  color:v.$base-color;
}

