@use "mixin"as m;
@use "variable"as v;

.slick-area {
    padding-top: 100px;
    padding-bottom: 100px;
    .slide-items {
        max-width: 80%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        li {
            width: 100%;
            height: 300px;
            img {
                width: 80%;
                height: 100%;
                object-fit: cover;
                border-radius: 30px;
            }
        }
    }
}