@use "mixin"as m;
@use "variable"as v;

.concept {
    background-color: rgba(167,179,199,1);
    .section-title {
        margin-top: 0;
    }
    .wrapper {
        padding: 0 50px;
        margin-bottom: 100px;
        text-align: center;
        color: rgba(244,241,237,1);
        p {
            line-height: 2.5;
            @include m.sp {
                line-height: 2.0;
            }
        }
    }
    
    .bg {
        width: 100%;
        height: 50vh;
        background-image: url(../img/concept_bg.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        @include m.sp {
            height: 40vh;
        }
    }
}

.toppage_menu {
    padding-bottom: 100px;
    .wrapper {
        text-align: center;
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li {
                margin: 20px;
                margin-top: 0;
                position: relative;
                p {
                    color: transparent;
                    -webkit-text-stroke: 1px rgba(47,47,47,1);
                    font-size: 48px;
                    font-weight: 600;
                    letter-spacing: 0.1em;
                    text-indent: 0;
                    position: absolute;
                    @include m.sp {
                        font-size: 32px;
                    }
                }
                img {
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    object-fit: cover;
                    @include m.sp {
                        width: 200px;
                        height: 200px;
                    }
                }
            }
        }
        .text {
            padding-top: 20px;
            a {
                display: inline-block;
            }
        }
    }
}

.toppage_news {
    padding-bottom: 100px;
    .wrapper {
        padding: 0 24px;
        text-align: center;
        ul {
            margin-bottom: 80px;
            li {
                margin-bottom: 48px;
                a {
                    padding-bottom: 10px;
                    position: relative;
                    color: rgba(47,47,47,1);
                    // border-bottom: 4px dashed rgba(47,47,47,1);
                    letter-spacing: 0.3em;
                    line-height: 3.0;
                    span {
                        margin-right: 10px; 
                        padding: 5px 10px;
                        color: rgba(244,241,237,1);
                        background-color: rgba(193,106,76,1);
                        border-radius: 50px;
                        font-size: 12px;
                        letter-spacing: 0.1em;
                        @include m.sp {
                            font-size: 10px;
                        }
                    }
                    @include m.sp {
                        font-size: 14px;
                        border-bottom: 3px dashed rgba(47,47,47,1);
                    }
                }
                a:hover {
                    opacity: 0.8;
                }
                a::after {
                    border-bottom: 3px dashed rgba(47,47,47,1);
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 330px;
                    @include m.sp {
                        display: none;
                    }
                }
                @include m.sp {
                    margin-bottom: 24px;
                }
            }
        }
        a {
            display: inline-block;
        }
    }
    @include m.sp {
        padding-bottom: 48px;
    }
}

.onlineshop {
    padding-bottom: 100px;
    text-align: center;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .images {
            width: 50%;
            display: flex;
            justify-content: center;
            img {
                width: 50%;
                height: 50vh;
                object-fit: cover;
                border: 5px solid rgba(193,106,76,1);
                border-radius: 30px 0 0 30px;
                @include m.sp {
                    height: 30vh;
                }
            }
            img:last-child {
                border-left: 0;
                border-radius: 0 30px 30px 0;
            }
        }
        .text {
            width: 50%;
            padding: 50px;
            padding-bottom: 0;
            p {
                margin-top: -10%;
                text-align: left;
                @include m.sp {
                    margin-top: 0;
                    padding: 0;
                }
            }
            a {
                display: inline-block;
            }
            @include m.sp {
                width: auto;
            }
        }
        @include m.sp {
            flex-direction: column;
            align-items: center;
        }
    }
}

.toppage_shopinformation {
    .wrapper {
        width: 80%;
        margin: 0 auto;
        img {
            width: 100%;
            height: 350px;
            object-fit: cover;
            border-radius: 50px;
            @include m.sp {
                height: 200px;
            }
        }
        .shopname {
            margin-top: 30px;
            font-size: 24px;
        }
        a {
            display: inline-block;
        }
    }
}

.toppage_contact {
    margin-top: 100px;
    margin-bottom: 400px;
    padding-top: 0;
    a {
        width: 60%;
        height: 20vh;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(193,106,76,1);
        border-radius: 20px;
        p {
            margin: 20px;
            color: rgba(244,241,237,1);
            @include m.sp {
                margin: 0;
                padding: 5px 16px;
            }
        }
        .contact_title {
            width: 30%;
            padding-top: 16px;
            font-size: 32px;
            font-weight: 800;
            letter-spacing: normal;
            line-height: 0.6;
            span {
                margin: 0;
                font-size: 12px;
            }
            @include m.sp {
                width: 100%;
            }
        }
        .text {
            width: 70%;
            padding-bottom: 16px;
            font-size: 14px;
            @include m.sp {
                width: 100%;
                font-size: 10px;
                line-height: 1.5;
            }
        }
        @include m.sp {
            flex-direction: column;
            width: 80%;
            height: auto;
        }
    }
    a:hover {
        opacity: 0.9;
        .contact_title {
            letter-spacing: 0.2em;
            transition: all 0.6s ease;
            span {
                letter-spacing: 0;         
            }
        }
    }
    @include m.sp {
        margin-bottom: 150px;
    }
}

