$base-color: rgba(244,241,237,1);
$main-color: rgba(167,179,199,1);
$sub-color: rgba(193,106,76,1);
$font-color: rgba(47,47,47,1);
$main-fontfamily: "B612", sans-serif;
$sub-fontfamily: "Forum", sans-serif;