@charset "UTF-8";
body {
  background-color: rgb(244, 241, 237);
  font-family: "B612", sans-serif;
}

main {
  width: 100%;
  margin: 0 auto;
}

section {
  width: 100%;
  height: auto;
  padding-top: 96px;
}
@media (max-width: 900px) {
  section {
    padding-top: 48px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(193, 106, 76);
  transition: all 0.6s ease;
}

.btn {
  padding: 8px 72px;
  border: 1px solid rgb(193, 106, 76);
  background-color: rgb(244, 241, 237);
  color: rgb(47, 47, 47);
  transition: all 0.6s ease;
}

.btn:hover {
  background-color: rgb(193, 106, 76);
  color: rgb(244, 241, 237);
}

p {
  margin-bottom: 32px;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
  line-height: 2;
}
@media (max-width: 900px) {
  p {
    margin-bottom: 24px;
    font-size: 12px;
  }
}

.section-title {
  position: relative;
  width: 100%;
  margin-bottom: 96px;
  font-size: 64px;
  font-family: "Forum", sans-serif;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
  color: rgb(193, 106, 76);
}
@media (max-width: 900px) {
  .section-title {
    font-size: 32px;
  }
}

.section-title::after {
  content: "";
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
  width: 160px;
  height: 2px;
  margin: 0 auto;
  background-color: rgb(193, 106, 76);
}
@media (max-width: 900px) {
  .section-title::after {
    top: 48px;
    width: 80px;
  }
}

.title {
  padding: 40px;
  padding-top: 100px;
  font-family: "Forum", sans-serif;
  font-size: 120px;
  font-weight: normal;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
  text-align: left;
  color: rgb(193, 106, 76);
}
@media (max-width: 900px) {
  .title {
    padding: 20px;
    font-size: 40px;
  }
}

.fadein {
  width: 100%;
  opacity: 0;
  transition: all 1s ease;
  transform: translateY(40px);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100px;
  padding-top: 30px;
}
header .close-logo {
  margin: 10px;
}
header .close-logo a img {
  width: 100px;
}
@media (max-width: 900px) {
  header .close-logo a img {
    width: 60px;
  }
}
header .open-logo {
  display: none;
}
header nav {
  display: none;
}
header .wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}
header .wrapper .sns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .wrapper .sns .icon {
  margin-right: 5px;
}
header .wrapper .sns .icon img {
  width: 50px;
}
@media (max-width: 900px) {
  header .wrapper .sns .icon img {
    width: 40px;
  }
}
header .wrapper .sns .icon .line {
  width: 40px;
}
@media (max-width: 900px) {
  header .wrapper .sns .icon .line {
    width: 30px;
  }
}
header .wrapper .sns .icon:hover {
  opacity: 0.5;
}
header .wrapper .toggle_btn {
  position: relative;
  width: 80px;
  height: 80px;
  cursor: pointer;
  /* 通常（☰） */
}
header .wrapper .toggle_btn span {
  display: block;
  position: absolute;
  left: 50%;
  width: 50%;
  height: 2px;
  background-color: rgb(47, 47, 47);
  opacity: 1;
  transition: all 0.2s ease;
  transform: translate(-50%, -50%);
}
header .wrapper .toggle_btn span:nth-child(1) {
  top: 35%;
}
header .wrapper .toggle_btn span:nth-child(2) {
  top: 50%;
}
header .wrapper .toggle_btn span:nth-child(3) {
  top: 65%;
}
header .wrapper .toggle_btn {
  /* ☰ → ● */
}
header .wrapper .toggle_btn.step-dot span {
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
header .wrapper .toggle_btn.step-dot span:nth-child(1),
header .wrapper .toggle_btn.step-dot span:nth-child(3) {
  opacity: 0;
}
header .wrapper .toggle_btn {
  /* ● → × */
}
header .wrapper .toggle_btn.step-dot.step-close span {
  top: 50%;
  left: 50%;
  width: 50%;
  height: 2px;
  border-radius: 0;
  opacity: 1;
  transform: translate(-50%, -50%);
}
header .wrapper .toggle_btn.step-dot.step-close span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}
header .wrapper .toggle_btn.step-dot.step-close span:nth-child(2) {
  opacity: 0;
}
header .wrapper .toggle_btn.step-dot.step-close span:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
@media (max-width: 900px) {
  header .wrapper .toggle_btn {
    width: 70px;
    height: 70px;
  }
}
header .wrapper .toggle_btn:hover {
  opacity: 0.5;
}
@media (max-width: 900px) {
  header {
    height: 80px;
    padding-top: 0;
  }
}

.open {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}
.open .close-logo {
  display: none;
}
.open nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100vh;
  background-color: rgb(193, 106, 76);
  color: rgb(244, 241, 237);
  opacity: 1;
  visibility: visible;
  transition: all 0.6s ease;
}
.open nav .inner {
  margin-right: 150px;
  text-align: center;
}
.open nav .inner .open-logo {
  display: inline-block;
  margin-bottom: 32px;
}
.open nav .inner .open-logo img {
  width: 200px;
}
@media (max-width: 900px) {
  .open nav .inner .open-logo img {
    width: 100px;
  }
}
@media (max-width: 900px) {
  .open nav .inner .open-logo {
    margin-bottom: 0;
  }
}
.open nav .inner .address {
  margin-bottom: 0;
}
@media (max-width: 900px) {
  .open nav .inner .address {
    font-size: 12px;
    line-height: normal;
  }
}
@media (max-width: 900px) {
  .open nav .inner {
    margin: 0;
  }
}
.open nav ul {
  font-family: "Forum", sans-serif;
  font-size: 32px;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
}
.open nav ul li {
  margin-bottom: 24px;
}
.open nav ul li a {
  color: rgb(244, 241, 237);
}
.open nav ul li a:hover {
  color: rgb(47, 47, 47);
}
@media (max-width: 900px) {
  .open nav ul li {
    margin-bottom: 8px;
  }
}
@media (max-width: 900px) {
  .open nav ul {
    margin-bottom: 16px;
    font-size: 18px;
    text-align: center;
  }
}
@media (max-width: 900px) {
  .open nav {
    flex-direction: column-reverse;
  }
}
.open .wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

footer {
  position: relative;
  padding-top: 60px;
  padding-bottom: 20px;
  text-align: center;
}
footer .wave {
  position: absolute;
  top: -52%;
  width: 100%;
  height: 380px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 900px) {
  footer .wave {
    top: -14%;
    height: 125px;
  }
}
footer img {
  width: 200px;
  height: auto;
}
@media (max-width: 900px) {
  footer img {
    width: 100px;
  }
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 30px;
}
footer ul li {
  margin: 10px;
}
footer ul li a {
  font-size: 14px;
  color: rgb(47, 47, 47);
}
footer ul li a:hover {
  opacity: 0.5;
}
@media (max-width: 900px) {
  footer ul {
    width: 90%;
    margin-bottom: 0;
  }
}
footer .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .wrapper .icon {
  margin: 0 20px;
}
footer .wrapper .icon img {
  width: 50px;
}
footer .wrapper .icon .line {
  width: 40px;
}
footer .wrapper .icon:hover {
  opacity: 0.5;
}
footer .address {
  line-height: 1.5;
}
@media (max-width: 900px) {
  footer .address {
    font-size: 12px;
  }
}
footer .copy {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 10px;
  text-align: center;
}
footer .policy {
  margin: 0;
  font-size: 10px;
}

.blue {
  background-color: rgb(167, 179, 199);
}
.blue .wave-blue {
  background-image: url(../img/wave_blue.png);
}

.white {
  background-color: rgb(244, 241, 237);
}
.white .wave-white {
  background-image: url(../img/wave_white.png);
}

.concept {
  background-color: rgb(167, 179, 199);
}
.concept .section-title {
  margin-top: 0;
}
.concept .wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 0 48px;
  text-align: center;
  color: rgb(244, 241, 237);
}
.concept .wrapper p {
  line-height: 2.5;
}
@media (max-width: 900px) {
  .concept .wrapper p {
    line-height: 2;
  }
}
@media (max-width: 900px) {
  .concept .wrapper {
    max-width: 500px;
    padding: 0 16px;
  }
}
.concept .bg {
  width: 100%;
  height: 50vh;
  background-image: url(../img/concept_bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
@media (max-width: 900px) {
  .concept .bg {
    height: 40vh;
  }
}

.toppage_menu {
  padding-bottom: 100px;
}
.toppage_menu .wrapper {
  text-align: center;
}
.toppage_menu .wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.toppage_menu .wrapper ul li {
  position: relative;
  margin: 20px;
  margin-top: 0;
}
.toppage_menu .wrapper ul li p {
  position: absolute;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-indent: 0;
  color: transparent;
  -webkit-text-stroke: 1px rgb(47, 47, 47);
}
@media (max-width: 900px) {
  .toppage_menu .wrapper ul li p {
    font-size: 32px;
  }
}
.toppage_menu .wrapper ul li img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
@media (max-width: 900px) {
  .toppage_menu .wrapper ul li img {
    width: 200px;
    height: 200px;
  }
}
.toppage_menu .wrapper .text {
  width: 100%;
  max-width: 630px;
  margin: 0 auto;
  padding-top: 40px;
}
.toppage_menu .wrapper .text a {
  display: inline-block;
}
@media (max-width: 900px) {
  .toppage_menu .wrapper .text {
    padding: 0 16px;
  }
}

.toppage_news {
  padding-bottom: 100px;
}
.toppage_news .wrapper {
  padding: 0 24px;
  text-align: center;
}
.toppage_news .wrapper ul {
  margin-bottom: 80px;
}
.toppage_news .wrapper ul li {
  margin-bottom: 48px;
}
.toppage_news .wrapper ul li a {
  position: relative;
  padding-bottom: 8px;
  color: rgb(47, 47, 47);
  letter-spacing: 0.3em;
  line-height: 3;
}
.toppage_news .wrapper ul li a span {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 50px;
  background-color: rgb(193, 106, 76);
  font-size: 12px;
  letter-spacing: 0.1em;
  color: rgb(244, 241, 237);
}
@media (max-width: 900px) {
  .toppage_news .wrapper ul li a span {
    font-size: 10px;
  }
}
@media (max-width: 900px) {
  .toppage_news .wrapper ul li a {
    border-bottom: 3px dashed rgb(47, 47, 47);
    font-size: 14px;
    line-height: 2;
  }
}
.toppage_news .wrapper ul li a:hover {
  opacity: 0.8;
}
.toppage_news .wrapper ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 330px;
  border-bottom: 3px dashed rgb(47, 47, 47);
  transform: translateX(-50%);
}
@media (max-width: 900px) {
  .toppage_news .wrapper ul li a::after {
    display: none;
  }
}
@media (max-width: 900px) {
  .toppage_news .wrapper ul li {
    margin-bottom: 32px;
  }
}
@media (max-width: 900px) {
  .toppage_news .wrapper ul {
    margin-bottom: 32px;
  }
}
.toppage_news .wrapper a {
  display: inline-block;
}
@media (max-width: 900px) {
  .toppage_news {
    padding-bottom: 48px;
  }
}

.onlineshop {
  padding-bottom: 100px;
  text-align: center;
}
.onlineshop .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.onlineshop .wrapper .images {
  display: flex;
  justify-content: center;
  width: 50%;
}
.onlineshop .wrapper .images img {
  width: 50%;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid rgb(193, 106, 76);
  border-radius: 30px 0 0 30px;
}
@media (max-width: 900px) {
  .onlineshop .wrapper .images img {
    height: 200px;
  }
}
.onlineshop .wrapper .images img:last-child {
  border-left: 0;
  border-radius: 0 30px 30px 0;
}
.onlineshop .wrapper .text {
  width: 50%;
  padding: 48px;
  padding-bottom: 0;
}
.onlineshop .wrapper .text p {
  margin-top: -10%;
  text-align: left;
}
@media (max-width: 900px) {
  .onlineshop .wrapper .text p {
    margin-top: 0;
    padding: 0;
  }
}
.onlineshop .wrapper .text a {
  display: inline-block;
}
@media (max-width: 900px) {
  .onlineshop .wrapper .text {
    width: auto;
    padding: 24px;
  }
}
@media (max-width: 900px) {
  .onlineshop .wrapper {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 900px) {
  .onlineshop {
    padding-bottom: 48px;
  }
}

@media (max-width: 900px) {
  .toppage_shopinformation h3::after {
    top: 80px;
  }
}
.toppage_shopinformation .wrapper {
  width: 80%;
  margin: 0 auto;
}
.toppage_shopinformation .wrapper img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}
@media (max-width: 900px) {
  .toppage_shopinformation .wrapper img {
    height: 200px;
  }
}
.toppage_shopinformation .wrapper .shopname {
  margin-top: 30px;
  font-size: 24px;
}
@media (max-width: 900px) {
  .toppage_shopinformation .wrapper .shopname {
    margin-bottom: 8px;
  }
}
@media (max-width: 900px) {
  .toppage_shopinformation .wrapper .address {
    line-height: 1.4;
  }
}
.toppage_shopinformation .wrapper a {
  display: inline-block;
}

.toppage_contact {
  margin-top: 100px;
  margin-bottom: 400px;
  padding-top: 0;
}
.toppage_contact a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: rgb(193, 106, 76);
}
.toppage_contact a p {
  margin: 20px;
  color: rgb(244, 241, 237);
}
@media (max-width: 900px) {
  .toppage_contact a p {
    margin: 0;
    padding: 5px 16px;
  }
}
.toppage_contact a .contact_title {
  width: 40%;
  padding-top: 16px;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: normal;
  line-height: 0.6;
}
.toppage_contact a .contact_title span {
  margin: 0;
  font-size: 12px;
}
@media (max-width: 900px) {
  .toppage_contact a .contact_title {
    width: 100%;
  }
}
.toppage_contact a .text {
  width: 60%;
  padding-bottom: 16px;
  font-size: 14px;
}
@media (max-width: 900px) {
  .toppage_contact a .text {
    width: 100%;
    font-size: 10px;
    line-height: 1.5;
  }
}
@media (max-width: 900px) {
  .toppage_contact a {
    flex-direction: column;
    max-width: 420px;
  }
}
.toppage_contact a:hover {
  opacity: 0.9;
}
.toppage_contact a:hover .contact_title {
  letter-spacing: 0.2em;
  transition: all 0.6s ease;
}
.toppage_contact a:hover .contact_title span {
  letter-spacing: 0;
}
@media (max-width: 900px) {
  .toppage_contact {
    margin-bottom: 150px;
  }
}

.mainvisual {
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding-top: 0;
  background-color: rgb(167, 179, 199);
}
.mainvisual h2 {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 10;
  font-family: "Alexandria", sans-serif;
  font-size: 64px;
  text-align: center;
  color: rgb(244, 241, 237);
  transform: translate(-50%);
}
@media (max-width: 900px) {
  .mainvisual h2 {
    font-size: 40px;
  }
}
.mainvisual .slide {
  position: relative;
  top: 18%;
  width: 100%;
  height: 550px;
  max-width: 550px;
  margin: 0 auto;
  overflow: hidden;
}
.mainvisual .slide li {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  animation: fade 15s infinite;
}
.mainvisual .slide li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 45% 45% 0 0;
}
.mainvisual .slide li:nth-child(1) {
  animation-delay: 0s;
}
.mainvisual .slide li:nth-child(2) {
  animation-delay: 5s;
}
.mainvisual .slide li:nth-child(3) {
  animation-delay: 10s;
}
.mainvisual .slide li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 900px) {
  .mainvisual .slide {
    height: 300px;
    max-width: 250px;
  }
}
.mainvisual {
  /* スクロールダウンの位置 */
}
.mainvisual .scroll {
  position: absolute;
  top: 60%;
  left: 10%;
  writing-mode: vertical-rl;
}
@media (max-width: 900px) {
  .mainvisual .scroll span {
    font-size: 12px;
  }
}
@media (max-width: 900px) {
  .mainvisual .scroll {
    left: 4%;
  }
}
.mainvisual {
  /* 線のアニメーション部分 */
}
.mainvisual .scroll::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -115px;
  left: 0;
  z-index: 2;
  width: 1px;
  height: 100px;
  margin: auto;
  background-color: rgb(47, 47, 47);
  animation: scroll 2s infinite;
}
@media (max-width: 900px) {
  .mainvisual .scroll::before {
    bottom: -95px;
    height: 80px;
  }
}
.mainvisual {
  /* 線の背景色 */
}
.mainvisual .scroll::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -115px;
  left: 0;
  width: 1px;
  height: 100px;
  margin: auto;
  background-color: rgb(244, 241, 237);
}
@media (max-width: 900px) {
  .mainvisual .scroll::after {
    bottom: -95px;
    height: 80px;
  }
}
.mainvisual {
  /* 線のアニメーション */
}
@keyframes scroll {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  51% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
}
@media (max-width: 900px) {
  .mainvisual {
    height: 70vh;
  }
}

.menu {
  padding-bottom: 380px;
  background-color: rgb(167, 179, 199);
  text-align: center;
  color: rgb(47, 47, 47);
}
.menu .tab-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 64px;
}
.menu .tab-container .tab-title {
  display: flex;
  gap: 10px;
}
.menu .tab-container .tab-title li {
  flex: 1;
  padding: 24px;
  border: 2px solid rgb(47, 47, 47);
  border-radius: 8px 8px 0 0;
  background-color: rgb(244, 241, 237);
  font-weight: 300;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}
.menu .tab-container .tab-title li:hover {
  background-color: rgb(244, 241, 237);
}
.menu .tab-container .tab-title li.selected {
  position: relative;
  z-index: 2;
  border-bottom: none;
  background-color: rgb(244, 241, 237);
  font-weight: 500;
}
@media (max-width: 900px) {
  .menu .tab-container .tab-title li {
    padding: 8px;
  }
}
.menu .tab-container .tab-content {
  display: none;
  min-height: 150px;
  margin-top: -0.5px;
  padding: 32px 24px;
  border: 2px solid rgb(47, 47, 47);
  border-top: none;
  border-radius: 0 0 8px 8px;
  background: rgb(244, 241, 237);
  color: rgb(47, 47, 47);
  line-height: 1.6;
}
.menu .tab-container .tab-content h3 {
  margin-bottom: 16px;
  font-size: 32px;
  text-align: left;
}
@media (max-width: 900px) {
  .menu .tab-container .tab-content h3 {
    font-size: 24px;
  }
}
.menu .tab-container .tab-content ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  height: 100%;
  margin-bottom: 32px;
  gap: 20px;
}
.menu .tab-container .tab-content ul li {
  text-align: center;
}
.menu .tab-container .tab-content ul li img {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 24px;
}
@media (max-width: 900px) {
  .menu .tab-container .tab-content ul li img {
    width: 80%;
  }
}
.menu .tab-container .tab-content ul li p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.5;
}
@media (max-width: 900px) {
  .menu .tab-container .tab-content ul li p {
    font-size: 10px;
  }
}
.menu .tab-container .tab-content ul li .price {
  font-size: 16px;
}
@media (max-width: 900px) {
  .menu .tab-container .tab-content ul li .price {
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  .menu .tab-container .tab-content {
    padding: 16px;
  }
}
.menu .tab-container .tab-content.selected {
  display: block;
  border-top: 1px solid rgb(47, 47, 47);
}
@media (max-width: 900px) {
  .menu .tab-container {
    padding: 0 16px;
  }
}
.menu {
  /* 必須：隠すための設定 */
}
.menu .detail-list li.is-hidden {
  display: none;
}
.menu {
  /* もっと見るボタン */
}
.menu .more-button, .menu .close-button {
  display: inline-block;
  padding: 16px 64px;
  border-radius: 50px;
  background-color: rgb(47, 47, 47);
  text-decoration: none;
  color: rgb(244, 241, 237);
  cursor: pointer;
  transition: 0.3s;
}
@media (max-width: 900px) {
  .menu .more-button, .menu .close-button {
    padding: 8px 32px;
    font-size: 10px;
  }
}
.menu .more-button:hover, .menu .close-button:hover {
  opacity: 0.8;
}
.menu .tab-content {
  display: none;
}
.menu .tab-content.selected {
  display: block;
}
@media (max-width: 900px) {
  .menu {
    padding-bottom: 140px;
  }
}

.news {
  padding-bottom: 360px;
  background-color: rgb(167, 179, 199);
  text-align: center;
  color: rgb(47, 47, 47);
}
.news .tab-container {
  width: 85%;
  margin: 0 auto;
}
.news .tab-container .news-filter {
  display: flex;
  margin-bottom: 40px;
  padding: 0 8px;
  gap: 20px;
}
.news .tab-container .news-filter li {
  list-style: none;
}
.news .tab-container .news-filter li a {
  padding: 6px 14px;
}
@media (max-width: 900px) {
  .news .tab-container .news-filter li a {
    font-size: 12px;
  }
}
.news .tab-container .news-filter li a:hover {
  background: rgb(193, 106, 76);
  color: rgb(244, 241, 237);
}
.news .tab-container .news-filter .active a {
  border-color: rgb(193, 106, 76);
  background: rgb(193, 106, 76);
  color: rgb(244, 241, 237);
}
@media (max-width: 900px) {
  .news .tab-container .news-filter {
    margin-bottom: 32px;
    gap: 8px;
  }
}
.news .tab-container .tab-content {
  display: none;
  min-height: 150px;
  line-height: 1.6;
}
.news .tab-container .tab-content ul {
  width: 100%;
  margin: 0 auto;
  padding: 0 8px;
}
.news .tab-container .tab-content ul .article {
  margin: 50px;
  padding: 32px 64px;
  border-radius: 50px;
  background-color: rgb(244, 241, 237);
  text-align: left;
}
.news .tab-container .tab-content ul .article a {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.news .tab-container .tab-content ul .article a img {
  width: 220px;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: transform 0.6s ease;
}
@media (max-width: 900px) {
  .news .tab-container .tab-content ul .article a img {
    width: 85%;
    height: 110px;
    margin: 0 auto;
  }
}
.news .tab-container .tab-content ul .article a .inner {
  width: 80%;
  padding: 24px;
}
.news .tab-container .tab-content ul .article a .inner p {
  margin-bottom: 0px;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
  color: rgb(47, 47, 47);
}
.news .tab-container .tab-content ul .article a .inner p span {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 50px;
  background-color: rgb(193, 106, 76);
  font-size: 12px;
  letter-spacing: 0.1em;
  color: rgb(244, 241, 237);
}
@media (max-width: 900px) {
  .news .tab-container .tab-content ul .article a .inner p span {
    font-size: 8px;
  }
}
.news .tab-container .tab-content ul .article a .inner .article-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
}
@media (max-width: 900px) {
  .news .tab-container .tab-content ul .article a .inner .article-title {
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  .news .tab-container .tab-content ul .article a .inner {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    padding-top: 16px;
  }
}
@media (max-width: 900px) {
  .news .tab-container .tab-content ul .article a {
    flex-direction: column;
  }
}
.news .tab-container .tab-content ul .article a:hover {
  opacity: 0.6;
}
.news .tab-container .tab-content ul .article a:hover img {
  transform: scale(1.1);
}
@media (max-width: 900px) {
  .news .tab-container .tab-content ul .article {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 16px;
    padding: 16px 8px;
  }
}
.news .tab-container .tab-content .page {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.news .tab-container .tab-content .page li {
  padding: 0 20px;
  font-size: 20px;
}
.news .tab-container .tab-content .page li a:hover {
  color: rgb(47, 47, 47);
}
.news .tab-container .tab-content .tab2-page .page2,
.news .tab-container .tab-content .tab2-page .page3,
.news .tab-container .tab-content .tab3-page .page2,
.news .tab-container .tab-content .tab3-page .page3,
.news .tab-container .tab-content .tab4-page .page2,
.news .tab-container .tab-content .tab4-page .page3 {
  display: none;
}
.news .tab-container .tab-content.selected {
  display: block;
  animation: fadeIn 0.3s ease;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 900px) {
  .news .tab-container {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .news {
    padding-bottom: 130px;
  }
}

.pagination {
  margin-top: 40px;
  text-align: center;
}

.pagination a:hover {
  background: rgb(193, 106, 76);
  color: rgb(244, 241, 237);
}

.page-numbers {
  display: inline-block;
  margin: 0 5px;
  padding: 8px 12px;
}

.current {
  background: rgb(193, 106, 76);
  color: rgb(244, 241, 237);
}

.slick-area {
  padding-top: 100px;
  padding-bottom: 100px;
}
.slick-area .slide-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 80%;
  margin: 0 auto;
}
.slick-area .slide-items li {
  width: 100%;
  height: 300px;
}
.slick-area .slide-items li img {
  width: 80%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

.shopinformation {
  padding-bottom: 360px;
  background-color: rgb(167, 179, 199);
  text-align: left;
  color: rgb(47, 47, 47);
}
.shopinformation .address {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 120px;
}
.shopinformation .address img {
  width: 55%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: -200px;
  border-radius: 30px;
}
@media (max-width: 900px) {
  .shopinformation .address img {
    width: 90%;
    height: 300px;
    margin: 0;
  }
}
.shopinformation .address .wrapper {
  width: 50%;
  padding: 24px 32px;
  border-radius: 30px;
  background-color: rgb(244, 241, 237);
}
.shopinformation .address .wrapper h3 {
  margin-bottom: 24px;
  font-size: 32px;
}
@media (max-width: 900px) {
  .shopinformation .address .wrapper h3 {
    margin-bottom: 8px;
    font-size: 18px;
  }
}
.shopinformation .address .wrapper dl {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
}
.shopinformation .address .wrapper dl dt {
  width: 20%;
  padding-right: 10px;
  padding-bottom: 20px;
  font-weight: bold;
}
@media (max-width: 900px) {
  .shopinformation .address .wrapper dl dt {
    width: 100%;
    padding: 0;
    font-size: 14px;
  }
}
.shopinformation .address .wrapper dl dd {
  width: 80%;
  padding-bottom: 20px;
}
@media (max-width: 900px) {
  .shopinformation .address .wrapper dl dd {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .shopinformation .address .wrapper dl {
    flex-direction: column;
    font-size: 12px;
  }
}
@media (max-width: 900px) {
  .shopinformation .address .wrapper {
    width: 90%;
    padding: 8px 16px;
  }
}
@media (max-width: 900px) {
  .shopinformation .address {
    flex-direction: column;
    padding-bottom: 24px;
  }
}
.shopinformation .map {
  width: 100%;
  height: auto;
  max-width: 1020px;
  margin: 0 auto;
  filter: grayscale(100%);
}
.shopinformation .map iframe {
  width: 100%;
  height: 400px;
}
@media (max-width: 900px) {
  .shopinformation .map iframe {
    height: 250px;
  }
}
@media (max-width: 900px) {
  .shopinformation {
    padding-bottom: 130px;
  }
}

.contact {
  padding: 0 16px;
  padding-bottom: 360px;
  background-color: rgb(167, 179, 199);
  text-align: center;
  color: rgb(47, 47, 47);
}
@media (max-width: 900px) {
  .contact .title {
    padding: 16px 0;
  }
}
.contact .contact-form {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 0;
  border-radius: 50px;
  background-color: rgb(193, 106, 76);
}
.contact .contact-form dl {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.contact .contact-form dl dt {
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
.contact .contact-form dl dt p {
  margin-bottom: 0;
}
.contact .contact-form dl dd {
  width: 100%;
  margin-bottom: 48px;
  line-height: 30px;
}
.contact .contact-form dl dd .text {
  width: 100%;
  height: 3em;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(244, 241, 237);
  line-height: 1;
}
.contact .contact-form dl dd .message {
  width: 100%;
  height: 10em;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(244, 241, 237);
  line-height: 1;
}
@media (max-width: 900px) {
  .contact .contact-form dl dd {
    margin-bottom: 24px;
  }
}
@media (max-width: 900px) {
  .contact .contact-form dl {
    margin-bottom: 0;
  }
}
.contact .contact-form .form-btn {
  width: 250px;
  margin: 0 auto;
  padding: 8px 24px;
  border-radius: 10px;
  background-color: rgb(244, 241, 237);
  color: rgb(47, 47, 47);
  letter-spacing: 1.5em;
  text-indent: 1.5em;
  box-shadow: 0 0 0 0 rgb(47, 47, 47);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
@media (max-width: 900px) {
  .contact .contact-form .form-btn {
    width: 170px;
    padding: 4px 16px;
  }
}
.contact .contact-form .form-btn:hover {
  box-shadow: 4px 6px 0px 4px rgb(47, 47, 47);
  transform: translateY(-2px);
}
.contact .contact-form .form-btn:active {
  box-shadow: none;
  transform: translateY(4px);
}
@media (max-width: 900px) {
  .contact .contact-form {
    max-width: 450px;
    padding: 24px 0;
  }
}
@media (max-width: 900px) {
  .contact {
    padding-bottom: 130px;
  }
}

p .wpcf7-spinner {
  display: none;
}
p span::before {
  display: none;
}

.news-article {
  padding-bottom: 360px;
  background-color: rgb(244, 241, 237);
  text-align: center;
  color: rgb(47, 47, 47);
}
.news-article .article-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 24px;
  text-align: left;
}
.news-article .article-container h3 span {
  font-size: 32px;
}
@media (max-width: 900px) {
  .news-article .article-container h3 span {
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .news-article .article-container h3 {
    font-size: 14px;
  }
}
.news-article .article-container img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 50px 0;
  border-radius: 30px;
}
@media (max-width: 900px) {
  .news-article .article-container img {
    height: 200px;
    margin: 16px 0;
  }
}
@media (max-width: 900px) {
  .news-article .article-container .article-text p {
    font-size: 10px;
  }
}
@media (max-width: 900px) {
  .news-article .article-container .article-text {
    font-size: 10px;
  }
}
@media (max-width: 900px) {
  .news-article .article-container {
    max-width: 450px;
  }
}
.news-article button {
  margin-top: 32px;
  padding: 8px 32px;
  border: 1px solid rgb(47, 47, 47);
  border-radius: 50px;
  background-color: rgb(47, 47, 47);
  font-size: 20px;
  color: rgb(244, 241, 237);
  transition: all 0.6s ease;
}
@media (max-width: 900px) {
  .news-article button {
    margin-top: 16px;
    padding: 4px 24px;
    font-size: 12px;
  }
}
.news-article button:hover {
  opacity: 0.6;
}
@media (max-width: 900px) {
  .news-article {
    padding-bottom: 130px;
  }
}/*# sourceMappingURL=style.css.map */